.navbar-custom {
    color: #008080;
    background-color: #CC3333;
}

.border { border-width: 5px; border-color: teal; border-style: solid; } 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

